numpy
gymnasium
mujoco
gymnasium-robotics>=1.2
flask
flask_sqlalchemy
flask-cors
mysqlclient
python-dotenv
torch
seaborn
matplotlib
Pillow
pydantic
gunicorn
tqdm
requests
dotenv
langchain
langchain-openai
pyyaml
numba
celery[redis]
