<!doctype html>

<html class="no-js" lang="">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>MuLIP User Study</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/default.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/loading.css') }}"
        />
    </head>
    <body>
        <div class="loader"></div>
        <p id="progress-text">Working...</p>
        <script>
            const loading_url = "{{ url_for('loading') }}"
            const environment_url = "{{ url_for('environment') }}"
            const error_url = "{{ url_for('error') }}"
        </script>
        <script src="{{ url_for('static', filename='js/loading.js') }}"></script>
    </body>
</html>
