# This is an example environment file for the Docker Compose setup.
# Copy this file to 'deploy/.env.docker' and fill in the secret values.
# IMPORTANT: The 'deploy/.env.docker' file is gitignored and should NOT be committed.

# A long, random, and secret string used for session signing and cryptographic functions.
SECRET_KEY=your_super_secret_and_long_random_string

# These paths are INSIDE the webapp container. They are mapped to your host machine via
# volumes defined in the docker-compose.yml file. You usually don't need to change these.
MODEL_STORAGE_DIR=/picc_rl/models
GRAPH_STORAGE_DIR=/picc_rl/graphs

# --- Database Configuration ---
MYSQL_ROOT_PASSWORD=your_strong_root_password
MYSQL_USER=picc_user
MYSQL_PASSWORD=your_strong_user_password
MYSQL_DATABASE=picc
MYSQL_PORT=3306
MYSQL_HOST=db

# --- Gunicorn Configuration ---
# The number of worker processes for the Gunicorn server.
NUM_GUNICORN_WORKERS=4

# celery config
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

PICC_ORDER="pre_study_questionnaire primer environment post_study_questionnaire compensation complete"

APP_DEBUG_MODE=false