<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>User Study Complete</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/default.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/complete.css') }}"
        />
    </head>

    <body>
        <div class="display_wrapper">
            <h1>Thank You!</h1>
            <p>You have completed our study.</p>
            <br />
            <img style="width: 400px" src="/static/images/mulip.png" />
        </div>
    </body>
</html>
