<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>MuLIP Study Error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/default.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/error.css') }}"
        />
    </head>

    <body>
        <div class="display_wrapper">
            <h1>Error</h1>
            <p>
                Your session has become desynced. Do you have the study running
                in multiple tabs?
            </p>
        </div>
    </body>
</html>
